<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>I have a raging clue</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
    .just-a-list {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
    }

    input[type="checkbox"] {
      opacity: 0;
      width: 0;
      height: 0;
    }

    input[type="checkbox"] + label {
      cursor: pointer;
      font-size: 150%
    }

    input[type="checkbox"] + label:hover,
    input[type="checkbox"]:focus + label {
      text-decoration: overline underline;
    }

    input[type="checkbox"]:checked + label:hover,
    input[type="checkbox"]:checked:focus + label {
      text-decoration: overline underline line-through;
    }

    input[type="checkbox"]:checked + label {
      text-decoration: line-through;
    }

    .input-group-btn > input[type="color"].btn {
      padding: 4px;
      width: 34px;
      height: 34px;
      display: inline-block;
    }
  </style>
</head>
<body ng-app="app" data-ng-controller="main" class="container-fluid ng-cloak">
<div class="form-inline">
  <ul class="list-inline">
    <li
        data-ng-repeat="player in playeR"
    >
      <input class="form-control" type="radio" name="selectedPlayer" data-ng-value="player" data-ng-model="behavior.actor">
      <div class="input-group">
        <span class="input-group-btn">
          <input type="color" class="btn btn-default" data-ng-model="player.c">
        </span>
        <input type="text" class="form-control" data-ng-model="player.n" data-ng-readonly="$first">
        <span class="input-group-btn"
              data-ng-if="!$first"
        >
          <button class="btn btn-danger"
                  data-ng-click="removePlayer($index)"
          >
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            <span class="sr-only">Remove player</span>
          </button>
        </span>
      </div>
    </li>
    <li>
      <button class="btn btn-success"
              data-ng-click="newPlayer()"
      >
        <span>New Player</span>
      </button>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-sm-4"
       data-ng-repeat="group in data" data-ng-init="groupId = $index; probFn = getProb(group)"
  >
    <section class="panel panel-default">
      <div class="panel-heading">
        <h5>
          <span data-ng-bind="::group.title"></span> 1/<span data-ng-bind="probFn()"></span>
          <button class="btn btn-primary btn-xs pull-right"
                  data-ng-click="editing = !editing; !editing && (group.picked = {}); !editing && updateUri()"
          >
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> <span>edit</span>
          </button>
        </h5>
      </div>
      <div class="panel-body">
        <div class="btn-toolbar" style="margin-bottom: 1ch"
             data-ng-if="editing"
        >
          <div class="btn-group">
            <button class="btn btn-default" data-ng-click="newItem(group.group);"
            >
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <span>new</span>
            </button>
            <button class="btn btn-default"
                    data-ng-click="group.group.sort(compN)"
            >
              <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
              <span>sort</span>
            </button>
          </div>
          <div class="btn-group">
            <button class="btn btn-danger"
                    data-ng-click="group.reset()"
            >
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
              <span>reset</span>
            </button>
          </div>
        </div>
        <ul class="just-a-list">
          <li data-ng-repeat="item in group.group">
            <div class="form-inline"
                 data-ng-if="!editing"
            >
              <input type="checkbox" id="{{groupId+'.'+$index}}"
                     data-ng-model="group.picked[$index]"
                     data-ng-change="group.pickedBy[$index] = group.picked[$index] ? behavior.actor : undefined"
              >
              <label for="{{groupId+'.'+$index}}"
                     data-ng-bind="item.n"
                     data-ng-style="{color: group.pickedBy[$index].c||'black'}"
              ></label>
              <select class="form-control"
                      data-ng-if="group.picked[$index]"
                      data-ng-model="group.pickedBy[$index]"
                      data-ng-options="player.n for player in playeR"
              ></select>
            </div>


            <div class="form"
                 data-ng-if="editing"
            >
              <div class="form-group"
                   data-if-show="editing"
              >
                <div class="input-group">
                  <span class="input-group-btn">
                    <input class="btn" type="color"
                           data-ng-model="item.c"
                    >
                  </span>
                  <input class="form-control" type="text"
                         data-ng-model="item.n"
                  >
                  <span class="input-group-btn"
                        data-ng-if="editing && group.group.length > 2"
                  >
                    <button class="btn btn-danger"

                            data-ng-click="dropIndex($index, group.group)"
                    >
                      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="sr-only">remove item</span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-danger" data-ng-click="newGame()"
    >
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      <span>New Game</span>
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-default"
            data-ng-click="showImportBox = !showImportBox;"
    >
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
      <span>Import/Export</span>
    </button>
  </div>
</div>

<div class="form"
     data-ng-if="showImportBox" data-ng-init="importModel = generateModel(data)"
>
  <textarea class="form-control" rows="5" data-ng-model="importModel"></textarea>
  <button class="btn btn-default"
          data-ng-click="importModel = generateModel(data)"
  >
    <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
    <span>Export Game</span>
  </button>
  <button class="btn btn-primary pull-right"
          data-ng-click="import(importModel)"
  >
    <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
    <span>Import Game</span>
  </button>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.1.1/shim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.19.1/ramda.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script>
  (function (undefined, angular, R, LZString) {
    angular.module('app', []).controller('main', ['$scope', '$location', function ($scope, $location) {
      var onlySelected = R.filter(R.equals(true))
          , imported;
      var you = {
        n: 'Me', c: '#000000'
      };

      function getDataParam() {
        return LZString.decompressFromBase64($location.search().v1 || '');
      }

      function setDataParam(value) {
        $location.search('v1', LZString.compressToBase64(value));
      }

      $scope.getProb = function (group) {
        return function () {
          var picked = Object.keys(onlySelected(group.picked)).length;
          return (group.group.length - picked);
        }
      };

      function resetPicked(group) {
        group.picked = {};
      }

      $scope.compN = function (a, b) {
        return a.n < b.n ? -1 : (b.n < a.n ? 1 : 0);
      };
      $scope.behavior = {actor: you};

      $scope.updateUri = function () {
        setDataParam(this.generateModel(this.data));
      };

      $scope.newGame = function () {
        $scope.data.forEach(resetPicked);
      };
      $scope.import = function (rawData) {
        var data = JSON.parse(rawData);
        if (angular.isArray(data) && data.length === 3) {
          data.forEach(importGroup);
          $scope.newGame();
        }
        this.updateUri();
      };
      function importGroup(group, idx) {
        $scope.data[idx].group = group;
      }

      $scope.dropIndex = R.invoker(2, 'splice')(R.__, 1, R.__);
      $scope.newItem = function (group) {
        group.unshift({n: 'unknown', c: '#000000'});
      };

      $scope.playeR = [you];
      $scope.newPlayer = function () {
        var thisNewPlayer = {c: '#000000', n: 'Player ' + (this.playeR.length + 1)};
        this.playeR.push(thisNewPlayer);
        return thisNewPlayer;
      };
      // Obviously you would never play clue by yourself.... would you?
      $scope.newPlayer().c = '#a2a2a2';
      $scope.removePlayer = function (index) {
        var player = this.dropIndex(index, this.playeR)[0];
        this.data.forEach(function (group) {
          group.group.forEach(function removePickedPlayer(x, index) {
            if (group.pickedBy[index] === player) {
              group.pickedBy[index] = undefined;
            }
          })
        });

      };
      $scope.data = [
        {
          title: 'Suspects'
          , reset: function () {
          this.picked = {};
          this.pickedBy = {};
          this.group = [
            {n: 'Miss Scarlet'}
            , {n: 'Col. Mustard'}
            , {n: 'Mrs. White'}
            , {n: 'Mr. Green'}
            , {n: 'Mrs. Peacock'}
            , {n: 'Prof. Plum'}
          ];
        }
          , picked: {}
          , pickedBy: {}
          , group: []
        }
        , {
          title: 'Weapons'
          , reset: function () {
            this.picked = {};
            this.pickedBy = {};
            this.group = [
              {n: 'Candlestick'}
              , {n: 'Knife'}
              , {n: 'Lead pipe'}
              , {n: 'Revolver'}
              , {n: 'Rope'}
              , {n: 'Wrench'}
            ];
          }
          , picked: {}
          , pickedBy: {}
          , group: []
        }
        , {
          title: 'Rooms'
          , reset: function () {
            this.picked = {};
            this.pickedBy = {};
            this.group = [
              {n: 'Kitchen'}
              , {n: 'Ballroom'}
              , {n: 'Conservatory'}
              , {n: 'Dining Room'}
              , {n: 'Billiard Room'}
              , {n: 'Library'}
              , {n: 'Lounge'}
              , {n: 'Hall'}
              , {n: 'Study'}
            ];
          }
          , picked: {}
          , pickedBy: {}
          , group: []
        }];

      R.forEach(R.invoker(0, 'reset'), $scope.data);
      $scope.newGame();
      $scope.generateModel = R.compose(angular.toJson, R.map(R.prop('group')));

      // Obtain location
      if (imported = getDataParam()) {
        $scope.import(imported);
      } else {
        $scope.updateUri();
      }
    }]);
  })(void 0, angular, R, LZString)
</script>
</body>
</html>